/*
 *
 *  @copyright 2008 - https://www.clicshopping.org
 *  @Brand : ClicShopping(Tm) at Inpi all right Reserved
 *  @Licence GPL 2 & MIT

 *  @Info : https://www.clicshopping.org/forum/trademark/
 *
 */

span.moduleFooterPageManager A {
  font-size: 0.75rem;
  font-weight: normal;
  background-color: #311909;
  color: #ccc;
}

span.moduleFooterPageManager A {
  font-size: 0.75rem;
  font-weight: normal;
  background-color: #311909;
}

div.moduleFooterPageManager {
  padding-top: 0.625rem;
  text-align: center;
  background-color: #311909;
  color:#ccc;
}

span.menuFooterPageManager A {
  font-size: 0.75rem;
  font-weight: normal;
  background-color: #311909;
  color: #ccc;
}
